<footer class="rodape-site">
  <p>
    &copy; {{ 'now' | date: "%Y" }} Grupo de Estudos em Etnobotânica —
    <a href="https://www.gov.br/jbrj/pt-br" target="_blank" rel="noopener noreferrer">
      Instituto de Pesquisas Jardim Botânico do Rio de Janeiro (JBRJ)
    </a>
  </p>

  <p class="aviso-licenca">
    Conteúdo licenciado sob
    <a href="https://creativecommons.org/licenses/by-nc/4.0/" target="_blank" rel="noopener noreferrer">
      Creative Commons Atribuição-NãoComercial 4.0 Internacional (CC BY-NC 4.0)
    </a>
    </p>
    Como citar:
    <em>Fonseca-Kruel, V.S.; et. al. Grupo de Estudos em Etnobotânica - JBRJ. Disponível em: https://etnobotanicajbrj.github.io/site-principal/. Acesso em: {{ 'now' | date: "%d/%m/%Y" }}.</em>
  </p>
</footer>
